<nav>
    <div class="col-8 offset-2">
        <h2>MyApp</h2>
        <ul>
            <li>Add new item</li>
            <li *ngIf="!user">Login</li>
            <li *ngIf="user" (click)="Logout()">Logout: {{user.username}}</li>
        </ul>
    </div>
</nav>
<div class="container">
    <app-login></app-login>
    <div class="row">
        <div *ngFor="let event of musicevents" class="col-6">
            <app-musicevent [event]="event" (clickevent)="logName($event)"></app-musicevent>
        </div>
    </div>

</div>